@model HouseOfClans.Models.ViewModels.RegisterClanViewModel

@{
    ViewBag.Title = "Register Clan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

<h2>Register Clan</h2>

@using (Html.BeginForm("RegisterClan", "MyClan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Register a clan.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="alert alert-info" role="alert"><strong>Heads Up!</strong> Creating a clan will make you the leader of the clan. You will not be able to change this.</div>
    <div class="form-group">
        @Html.LabelFor(m => m.ClanName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ClanName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Shield, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Shield, Model.ShieldLogos, "Select Shield", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}